.layout_sidebar{
    background-color:#000c17 !important;
    color:#fff;
    min-height: 100vh;
    max-height: 100%;
  }
  .layout_header{
    background-color:#ffff !important;
    color:#000;
  }
  .ant-menu.ant-menu-dark{
    background-color:#000c17  !important;
  }